.page-container {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
  padding-left: 280px;
  display: inline-flex !important;
}

@media only screen and (max-width: 992px) {
  .page-container {
    padding-left: 0;
    display: flex !important;
  }
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input field {
  vertical-align: middle;
}

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.side-by-side > * {
  margin: 0 5px;
}

.bold {
  font-weight: bold;
}

.margin-sm {
  margin: 5px;
}

.margin {
  margin: 20px;
}

.button-sm {
  padding: 0 10px !important;
}

.pad-sides-sm {
  padding: 0 8px !important;
}

#overlay,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;
}

h2 {
  text-align: center;
  padding: 20px 0;
}

.table-bordered {
  border: 1px solid #a9a9a9 !important;
}

table caption {
  padding: 0.5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    display: none;
  }
}

th {
  text-align: center;
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

td,
tr {
  text-align: center;
  border: 1px solid #ddd !important;
}

td,
th {
  width: 5em;
}

.controls {
  margin-top: 40px;
}
